/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-color: azure;
  background-size: 130%;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 5%;
  }
}

.buttons {
  display: primary;
  align-items: center;
  justify-content: center;
}

